.header {
    background-color: blue;
    color: white;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
}
.square {
    width: 200px;
    height: 200px;
}
.square1 {
    background-color: yellow;
    position: absolute;
    top: 200px;
    left: 200px;
}
.square2 {
    background-color: red;
    position: absolute;
    top: 500px;
    left: 500px;
}
.square3 {
    background-color: green;
    position: absolute;
    top: 350px;
    left: 350px;
}
.square4 {
    background-color: green;
    position: absolute;
    top: 1000px;
    left: 100px;
}